In [12]:
import pandas as pd
df = pd.read_csv("sentiment_tweets.csv",encoding = 'latin1',header=None, names=['target','id','date','flag','user','text'])
df = df[['target','text']]
df

         target                                               text
0             0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1             0  is upset that he can't update his Facebook by ...
2             0  @Kenichan I dived many times for the ball. Man...
3             0    my whole body feels itchy and like its on fire
4             0  @nationwideclass no, it's not behaving at all....
...         ...                                                ...
1599995       4  Just woke up. Having no school is the best fee...
1599996       4  TheWDB.com - Very cool to hear old Walt interv...
1599997       4  Are you ready for your MoJo Makeover? Ask me f...
1599998       4  Happy 38th Birthday to my boo of alll time!!! ...
1599999       4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [14]:
# 두 슬라이스된 DataFrame
df_part1 = df[['target', 'text']][:1000]
df_part2 = df[['target', 'text']][1599000:]

# DataFrame 수직 결합
df1 = pd.concat([df_part1, df_part2], ignore_index=True)

# 결과 확인
print(df1)

      target                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....
...      ...                                                ...
1995       4  Just woke up. Having no school is the best fee...
1996       4  TheWDB.com - Very cool to hear old Walt interv...
1997       4  Are you ready for your MoJo Makeover? Ask me f...
1998       4  Happy 38th Birthday to my boo of alll time!!! ...
1999       4  happy #charitytuesday @theNSPCC @SparksCharity...

[2000 rows x 2 columns]

In [16]:
df1.to_csv("sentiment_tweets_small.csv",index = False)