In [113]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [5]:
# URL에서 HTML 문서 가져오기
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"
response = requests.get(url)

# BeautifulSoup 인스턴스 생성
soup = BeautifulSoup(response.text, 'html.parser')

In [26]:
# 특정 클래스를 가진 테이블 가져오기
table = soup.find('table', {
    'class': 'wikitable.sortable.sticky-header-multi.static-row-numbers.jquery-tablesorter'
})

In [28]:
# 현재 페이지에서 table 태그 모두 선택하기
table1 = soup.select('table')

In [106]:
for i in range(7):
    print(i)
    #print(table1[i])

0
1
2
3
4
5
6

In [107]:
table = table1[2]
#table

In [141]:
# 테이블 헤더 추출
headers = [th.text.strip() for th in table.find_all('th')]
headers = headers[:7]

# 테이블 행과 열 추출
rows = []
for tr in table.find_all('tr')[2:]:  # 첫 번째 행은 헤더이므로 제외
    cells = [td.text.strip() for td in tr.find_all('td')]
    #print(cells[1])
    if cells:  # 빈 행 건너뛰기
        rows.append(cells)

# 출력 확인
print("Headers:", headers)
for row in rows:  # 상위 5개 행 출력
    print(row)

Headers: ['Country/Territory', 'IMF[1][13]', 'World Bank[14]', 'United Nations[15]', 'Forecast', 'Year', 'Estimate']
['World', '115,494,312', '2025', '105,435,540', '2023', '100,834,796', '2022']
['United States', '30,337,162', '2025', '27,360,935', '2023', '25,744,100', '2022']
['China', '19,534,894', '[n 1]2025', '17,794,782', '[n 3]2023', '17,963,170', '[n 1]2022']
['Germany', '4,921,563', '2025', '4,456,081', '2023', '4,076,923', '2022']
['Japan', '4,389,326', '2025', '4,212,945', '2023', '4,232,173', '2022']
['India', '4,271,922', '2025', '3,549,919', '2023', '3,465,541', '2022']
['United Kingdom', '3,730,261', '2025', '3,340,032', '2023', '3,089,072', '2022']
['France', '3,283,429', '2025', '3,030,904', '2023', '2,775,316', '2022']
['Italy', '2,459,597', '2025', '2,254,851', '2023', '2,046,952', '2022']
['Canada', '2,330,308', '2025', '2,140,086', '2023', '2,137,939', '2022']
['Brazil', '2,307,162', '2025', '2,173,666', '2023', '1,920,095', '2022']
['Russia', '2,195,708', '2025', '2,021,421', '2023', '2,240,422', '2022']
['South Korea', '1,947,133', '2025', '1,712,793', '2023', '1,673,916', '2022']
['Australia', '1,881,140', '2025', '1,723,827', '2023', '1,776,577', '2022']
['Spain', '1,827,576', '2025', '1,580,695', '2023', '1,415,874', '2022']
['Mexico', '1,817,818', '2025', '1,788,887', '2023', '1,463,323', '2022']
['Indonesia', '1,492,618', '2025', '1,371,171', '2023', '1,319,100', '2022']
['Turkey', '1,455,413', '2025', '1,108,022', '2023', '907,118', '2022']
['Netherlands', '1,272,960', '2025', '1,118,125', '2023', '1,008,027', '2022']
['Saudi Arabia', '1,136,580', '2025', '1,067,583', '2023', '1,108,148', '2022']
['Switzerland', '999,604', '2025', '884,940', '2023', '818,426', '2022']
['Poland', '915,451', '2025', '811,229', '2023', '688,125', '2022']
['Taiwan', '814,438', '[n 4]2025', '—', '—']
['Belgium', '689,364', '2025', '632,217', '2023', '582,643', '2022']
['Sweden', '638,780', '2025', '593,268', '2023', '591,188', '2022']
['Ireland', '587,225', '2025', '545,629', '2023', '532,415', '2022']
['Argentina', '574,201', '2025', '640,591', '2023', '631,133', '2022']
['United Arab Emirates', '568,567', '2025', '504,173', '2023', '507,063', '2022']
['Singapore', '561,725', '2025', '501,428', '2023', '466,788', '2022']
['Austria', '559,218', '2025', '516,034', '2023', '470,302', '2022']
['Israel', '550,905', '2025', '509,902', '2023', '525,002', '2022']
['Thailand', '545,341', '2025', '514,945', '2023', '495,340', '2022']
['Norway', '503,466', '2025', '485,513', '2023', '579,422', '2022']
['Malaysia', '488,250', '2025', '399,649', '2023', '406,305', '2022']
['Philippines', '471,516', '2025', '437,146', '2023', '404,284', '2022']
['Vietnam', '468,400', '2025', '429,717', '2023', '408,802', '2022']
['Iran', '463,747', '2025', '401,505', '2023', '398,047', '2022']
['Bangladesh', '451,856', '2025', '437,415', '2023', '432,677', '2022']
['Denmark', '431,228', '2025', '404,199', '2023', '400,167', '2022']
['Hong Kong', '422,057', '[n 5]2025', '382,055', '2023', '359,838', '2022']
['Colombia', '419,331', '2025', '363,540', '2023', '343,939', '2022']
['South Africa', '418,046', '2025', '377,782', '2023', '405,270', '2022']
['Romania', '406,202', '2025', '351,003', '2023', '300,690', '2022']
['Egypt', '380,044', '2025', '395,926', '2023', '409,306', '2022']
['Pakistan', '374,595', '2024', '338,368', '2023', '326,796', '2022']
['Chile', '362,240', '2025', '335,533', '2023', '300,686', '2022']
['Czech Republic', '360,233', '2025', '330,858', '2023', '290,527', '2022']
['Finland', '319,989', '2025', '300,187', '2023', '282,511', '2022']
['Portugal', '319,934', '2025', '287,080', '2023', '254,849', '2022']
['Kazakhstan', '306,629', '2025', '261,421', '2023', '225,496', '2022']
['Peru', '294,898', '2025', '267,603', '2023', '242,631', '2022']
['Iraq', '270,874', '2025', '250,843', '2023', '264,182', '2022']
['Greece', '265,171', '2025', '238,206', '2023', '217,285', '2022']
['Algeria', '264,270', '2025', '239,899', '2023', '191,912', '2022']
['New Zealand', '262,924', '2025', '253,466', '2023', '245,845', '2022']
['Hungary', '245,619', '2025', '212,389', '2023', '177,337', '2022']
['Qatar', '226,217', '2025', '235,770', '2022', '237,101', '2022']
['Nigeria', '194,955', '2025', '362,815', '2023', '475,058', '2022']
['Ukraine', '189,827', '[n 6]2025', '178,757', '[n 6]2023', '160,502', '[n 6]2022']
['Morocco', '168,597', '2025', '141,109', '2023', '130,912', '2022']
['Kuwait', '161,950', '2025', '161,772', '2023', '175,363', '2022']
['Cuba', '—', '—', '147,193', '2022']
['Ethiopia', '145,031', '2024', '163,698', '2023', '118,971', '2022']
['Slovakia', '142,617', '2024', '132,794', '2023', '115,304', '2022']
['Dominican Republic', '126,238', '2024', '121,444', '2023', '113,537', '2022']
['Ecuador', '121,425', '2024', '118,845', '2023', '115,049', '2022']
['Puerto Rico', '120,971', '2024', '117,902', '2023', '113,434', '2022']
['Kenya', '116,321', '2024', '107,441', '2023', '113,419', '2022']
['Angola', '113,286', '2024', '84,773', '2023', '113,304', '2022']
['Uzbekistan', '112,653', '2024', '90,889', '2023', '80,391', '2022']
['Guatemala', '112,369', '2024', '102,050', '2023', '95,003', '2022']
['Oman', '109,993', '2024', '108,192', '2023', '114,666', '2022']
['Bulgaria', '108,425', '2024', '101,584', '2023', '90,213', '2022']
['Venezuela', '106,327', '2024', '—', '129,313', '2022']
['Costa Rica', '95,149', '2024', '86,498', '2023', '68,380', '2022']
['Luxembourg', '91,210', '2024', '85,755', '2023', '81,530', '2022']
['Croatia', '89,665', '2024', '82,689', '2023', '71,552', '2022']
['Panama', '87,347', '2024', '83,382', '2023', '76,522', '2022']
['Ivory Coast', '86,993', '2024', '78,789', '2023', '70,018', '2022']
['Sri Lanka', '74,846', '2022', '84,357', '2023', '76,187', '2022']
['Turkmenistan', '83,883', '2024', '59,887', '2023', '67,009', '2022']
['Lithuania', '82,789', '2024', '77,836', '2023', '70,878', '2022']
['Uruguay', '82,605', '2024', '77,241', '2023', '71,171', '2022']
['Serbia', '82,550', '2024', '75,187', '2023', '63,563', '2022']
['Tanzania', '79,867', '2024', '79,158', '2023', '73,535', '[n 7]2022']
['Azerbaijan', '75,649', '2024', '72,356', '2023', '78,721', '2022']
['Ghana', '75,307', '2024', '76,370', '2023', '73,766', '2022']
['Slovenia', '73,198', '2024', '68,217', '2023', '59,981', '2022']
['Belarus', '73,129', '2024', '71,857', '2023', '72,873', '2022']
['DR Congo', '72,483', '2024', '66,383', '2023', '62,551', '2022']
['Myanmar', '64,284', '2024', '64,815', '2023', '65,211', '2022']
['Uganda', '55,587', '2024', '49,273', '2023', '48,243', '2022']
['Macau', '53,447', '[n 8]2024', '47,062', '2023', '24,042', '2022']
['Cameroon', '53,391', '2024', '47,946', '2023', '44,341', '2022']
['Jordan', '53,305', '2024', '50,814', '2023', '47,452', '2022']
['Tunisia', '52,636', '2024', '48,530', '2023', '46,181', '2022']
['Bolivia', '48,172', '2024', '45,850', '2023', '44,008', '2022']
['Bahrain', '47,812', '2024', '43,205', '2023', '44,382', '2022']
['Cambodia', '47,147', '2024', '31,773', '2023', '29,504', '2022']
['Latvia', '45,521', '2024', '43,627', '2023', '40,876', '2022']
['Paraguay', '44,937', '2024', '42,956', '2023', '41,722', '2022']
['Libya', '44,812', '2024', '50,492', '2023', '40,537', '2022']
['Nepal', '43,673', '2024', '40,908', '2023', '39,406', '2022']
['Estonia', '43,044', '2024', '40,745', '2023', '38,049', '2022']
['Honduras', '36,735', '2024', '34,401', '2023', '31,717', '2022']
['Zimbabwe', '35,919', '2024', '26,538', '2023', '26,418', '2022']
['El Salvador', '35,848', '2024', '34,016', '2023', '32,488', '2022']
['Cyprus', '34,790', '[n 9]2024', '32,230', '[n 9]2023', '29,210', '[n 9]2022']
['Senegal', '33,685', '2024', '31,014', '2023', '27,775', '2022']
['Georgia', '33,191', '[n 10]2024', '30,536', '[n 10]2023', '24,605', '[n 10]2022']
['Iceland', '32,919', '2024', '31,020', '2023', '28,064', '2022']
['Papua New Guinea', '31,716', '2024', '30,933', '2022', '31,609', '2022']
['Zambia', '29,872', '2024', '28,163', '2023', '29,136', '2022']
['Bosnia and Herzegovina', '29,078', '2024', '27,055', '2023', '24,473', '2022']
['Trinidad and Tobago', '28,365', '2024', '28,140', '2023', '30,053', '2022']
['Sudan', '26,865', '2024', '109,327', '2023', '36,729', '2022']
['Guinea', '25,447', '2024', '23,612', '2023', '20,846', '2022']
['Albania', '25,431', '2024', '22,978', '2023', '18,916', '2022']
['Armenia', '25,408', '2024', '24,212', '2023', '19,513', '2022']
['Haiti', '24,046', '2024', '19,851', '2023', '18,751', '2022']
['Mozambique', '22,975', '2024', '20,625', '2023', '18,406', '2022']
['Malta', '22,737', '2024', '20,957', '2023', '18,100', '2022']
['Mongolia', '21,943', '2024', '19,872', '2023', '17,146', '2022']
['Burkina Faso', '21,902', '2024', '20,325', '2023', '19,176', '2022']
['Mali', '21,662', '2024', '20,905', '2023', '18,827', '2022']
['Botswana', '21,418', '2024', '19,396', '2023', '20,352', '2022']
['Benin', '21,371', '2024', '19,673', '2023', '17,396', '2022']
['Guyana', '21,178', '2024', '16,786', '2023', '14,718', '2022']
['Gabon', '21,013', '2024', '20,516', '2023', '20,132', '2022']
['Jamaica', '20,098', '2024', '19,423', '2023', '17,097', '2022']
['Nicaragua', '18,829', '2024', '17,829', '2023', '15,671', '2022']
['Niger', '18,816', '2024', '16,819', '2023', '15,414', '2022']
['Chad', '18,697', '2024', '13,149', '2023', '16,799', '2022']
['Palestine', '18,602', '[n 11]2023', '17,396', '[n 11]2023', '19,111', '[n 12]2022']
['Syria', '—', '8,980', '2021', '18,595', '2022']
['Moldova', '18,356', '[n 13]2024', '16,539', '[n 13]2023', '14,510', '[n 13]2022']
['Lebanon', '21,780', '2022', '17,937', '2023', '39,303', '2022']
['Yemen', '16,940', '2024', '—', '11,007', '2022']
['Madagascar', '16,465', '2024', '16,032', '2023', '14,954', '2022']
['Mauritius', '16,359', '2024', '14,397', '2023', '12,898', '2022']
['North Macedonia', '15,873', '2024', '14,761', '2023', '13,711', '2022']
['Kyrgyzstan', '15,770', '2024', '13,782', '2023', '12,560', '2022']
['Brunei', '15,510', '2024', '15,128', '2023', '16,681', '2022']
['Congo', '15,501', '2024', '15,321', '2023', '15,344', '2022']
['Laos', '15,190', '2024', '15,843', '2023', '15,362', '2022']
['North Korea', '—', '—', '15,176', '2022']
['Afghanistan', '14,467', '2022', '14,502', '2022', '14,174', '2022']
['Bahamas', '14,390', '2024', '14,339', '2023', '12,897', '2022']
['Rwanda', '13,701', '2024', '14,098', '2023', '13,312', '2022']
['Tajikistan', '13,000', '2024', '12,061', '2023', '10,492', '2022']
['Somalia', '12,804', '2024', '11,680', '2023', '10,420', '2022']
['Namibia', '12,765', '2024', '12,351', '2023', '12,607', '2022']
['Kosovo', '11,318', '2024', '10,438', '2023', '9,397', '2022']
['Malawi', '11,241', '2024', '14,084', '2023', '12,558', '2022']
['Equatorial Guinea', '10,708', '2024', '12,117', '2023', '11,767', '2022']
['Mauritania', '10,628', '2024', '10,453', '2023', '10,997', '2022']
['Togo', '9,832', '2024', '9,171', '2023', '8,087', '2022']
['New Caledonia', '—', '9,623', '2022', '9,623', '2022']
['Monaco', '—', '8,784', '2022', '8,772', '2022']
['Montenegro', '8,010', '2024', '7,405', '2023', '6,229', '2022']
['Bermuda', '—', '7,828', '2022', '7,546', '2022']
['Liechtenstein', '—', '7,365', '2022', '7,757', '2022']
['Maldives', '7,199', '2024', '6,600', '2023', '6,170', '2022']
['Barbados', '6,863', '2024', '6,394', '2023', '5,699', '2022']
['Cayman Islands', '—', '6,601', '2022', '6,281', '2022']
['South Sudan', '6,517', '2024', '—', '4,616', '2022']
['French Polynesia', '—', '5,815', '2022', '5,814', '2022']
['Fiji', '5,801', '2024', '5,495', '2023', '4,979', '2022']
['Eswatini', '5,085', '2024', '4,598', '2023', '4,326', '2022']
['Liberia', '4,754', '2024', '4,332', '2023', '3,265', '2022']
['Sierra Leone', '4,558', '2024', '3,810', '2023', '3,481', '2022']
['Djibouti', '4,364', '2024', '4,099', '2023', '4,003', '2022']
['Suriname', '4,337', '2024', '3,782', '2023', '3,620', '2022']
['Aruba', '4,069', '2024', '3,545', '2022', '3,544', '2022']
['Andorra', '3,897', '2024', '3,728', '2023', '3,376', '2022']
['Belize', '3,296', '2024', '3,282', '2023', '2,830', '2022']
['Bhutan', '3,110', '2024', '2,898', '2022', '2,898', '2022']
['Burundi', '3,075', '2024', '2,642', '2023', '4,032', '2022']
['Curaçao', '—', '3,074', '2022', '3,075', '2022']
['Greenland', '—', '3,236', '2021', '2,926', '2022']
['Central African Republic', '2,810', '2024', '2,555', '2023', '2,395', '2022']
['Cape Verde', '2,718', '2024', '2,587', '2023', '2,314', '2022']
['Gambia', '2,694', '2024', '2,340', '2023', '2,231', '2022']
['Saint Lucia', '2,582', '2024', '2,520', '2023', '2,165', '2022']
['Lesotho', '2,395', '2024', '2,046', '2023', '2,287', '2022']
['Eritrea', '—', '—', '2,383', '2022']
['Zanzibar', '—', '—', '2,361', '2022']
['Seychelles', '2,203', '2024', '2,141', '2023', '1,994', '2022']
['Guinea-Bissau', '2,151', '2024', '1,966', '2023', '1,574', '2022']
['Antigua and Barbuda', '2,127', '2024', '2,033', '2023', '1,770', '2022']
['San Marino', '2,033', '2024', '1,855', '2021', '1,780', '2022']
['East Timor', '1,992', '2024', '2,243', '2023', '3,204', '2022']
['Solomon Islands', '1,707', '2024', '1,631', '2023', '1,597', '2022']
['Sint Maarten', '—', '1,623', '2023', '1,572', '2022']
['Comoros', '1,422', '2024', '1,352', '2023', '1,246', '2022']
['Grenada', '1,406', '2024', '1,320', '2023', '1,192', '2022']
['Turks and Caicos Islands', '—', '1,402', '2023', '1,138', '2022']
['Vanuatu', '1,289', '2024', '1,126', '2023', '985', '2022']
['Saint Kitts and Nevis', '1,134', '2024', '1,077', '2023', '979', '2022']
['Saint Vincent and the Grenadines', '1,128', '2024', '1,066', '2023', '946', '2022']
['Samoa', '1,024', '2024', '934', '2023', '857', '2022']
['São Tomé and Príncipe', '751', '2024', '603', '2023', '546', '2022']
['Dominica', '708', '2024', '654', '2023', '612', '2022']
['Tonga', '581', '2024', '500', '2022', '488', '2022']
['Micronesia', '484', '2024', '460', '2023', '427', '2022']
['Kiribati', '311', '2024', '279', '2023', '223', '2022']
['Palau', '308', '2024', '263', '2023', '225', '2022']
['Marshall Islands', '305', '2024', '284', '2023', '279', '2022']
['Nauru', '161', '2024', '154', '2023', '147', '2022']
['Tuvalu', '66', '2024', '62', '2023', '59', '2022']

In [142]:
# Pandas DataFrame으로 변환
df = pd.DataFrame(rows, columns=headers)
df = df[['Country/Territory','IMF[1][13]']][1:]

# DataFrame 출력
df.columns = ['Country','GDP']

df['GDP'] = df['GDP'].str.replace(',', '')
df['GDP'] = df['GDP'].replace('—', '0')
df['GDP'] = df['GDP'].astype(int)
df['GDP'] = df['GDP'].replace(0, np.nan)


df

              Country         GDP
1       United States  30337162.0
2               China  19534894.0
3             Germany   4921563.0
4               Japan   4389326.0
5               India   4271922.0
..                ...         ...
205          Kiribati       311.0
206             Palau       308.0
207  Marshall Islands       305.0
208             Nauru       161.0
209            Tuvalu        66.0

[209 rows x 2 columns]

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 1 to 209
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  209 non-null    object
 1   GDP      194 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.4+ KB

In [144]:
df = df.sort_values(by=['GDP'], ascending =[False])
df

                      Country         GDP
1               United States  30337162.0
2                       China  19534894.0
3                     Germany   4921563.0
4                       Japan   4389326.0
5                       India   4271922.0
..                        ...         ...
179                 Greenland         NaN
185                   Eritrea         NaN
186                  Zanzibar         NaN
193              Sint Maarten         NaN
196  Turks and Caicos Islands         NaN

[209 rows x 2 columns]

In [145]:
df['GDP'] = round(df['GDP'] * 0.001,2)
df

                      Country       GDP
1               United States  30337.16
2                       China  19534.89
3                     Germany   4921.56
4                       Japan   4389.33
5                       India   4271.92
..                        ...       ...
179                 Greenland       NaN
185                   Eritrea       NaN
186                  Zanzibar       NaN
193              Sint Maarten       NaN
196  Turks and Caicos Islands       NaN

[209 rows x 2 columns]

In [146]:
df.to_json('Countries_by_GDP.json')