In [ ]:
WHERE 절 IN 연산자 
SELECT * FROM Customers
                WHERE Country NOT IN ('Paris', 'London');

In [2]:
TABLE DATE 바꾸는 작업 할 때는 pd.read_sql("",conn)으로 하면 오류남
cur.execute()로 해야 오류 안남

Insert할때 안 넣는 컬럼 값은 None(NULL)이 됨

SyntaxError: invalid syntax (1109240015.py, line 1)

In [ ]:
Be careful when updating records. If you omit the WHERE clause, ALL records will be updated!

In [ ]:
Delete All records: DELETE FROM Customers;
Delete Table: DROP TABLE Customers;

In [ ]:
SQL Aggregate Functions
An aggregate function is a function that performs a calculation on a set of values, and returns a single value.

Aggregate functions are often used with the GROUP BY clause of the SELECT statement. The GROUP BY clause splits the result-set into groups of values and the aggregate function can be used to return a single value for each group.


MIN() - returns the smallest value within the selected column
MAX() - returns the largest value within the selected column
COUNT() - returns the number of rows in a set
SUM() - returns the total sum of a numerical column
AVG() - returns the average value of a numerical column

Aggregate functions ignore null values (except for COUNT()).